<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <title>Buscador Semantico</title>
</head>

<body>
    <form action="/procesar" method="post">
        <label for="texto">Ingrese su texto:</label>
        <input type="text" id="texto" name="texto">
        <button type="submit">Enviar</button>
    </form>
</body>

</html>